/* global */
body {
  background-color: rgb(228, 224, 224);
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding-top: 100px;
  width: 60%;
  margin: auto;
}
.icons {
  color: orange;
  font-size: 60px;
}
/* header */
#main-header {
  position: fixed;
  display: flex;
  background-color: #f7f3f3;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
}
#navbar {
  position: relative;
  left: 300px;
  top: 10px;
}
#navbar li {
  list-style: none;
  padding: 10px 30px 0 40px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  display: inline;
}
/* section  my-form*/
.my-form {
  text-align: center;
  padding-bottom: 20px;
}
.my-form form label {
  font-size: 25px;
  font-weight: bold;
}
.my-form form input {
  width: 280px;
  height: 24px;
}
.my-form div button {
  margin: 15px;
  background-color: #f7ad3f;
  font-size: 20px;
  text-transform: uppercase;
}
/* section features */
.feature {
  display: flex;
  justify-content: space-between;
}
.feature .detail {
  width: 90%;
}
/* videos */
#video {
  margin: 30px 0 30px 100px;
}
/* box */
.boxes {
  display: flex;
  justify-content: space-between;
}
.box {
  border: 1px solid black;
  width: 30%;
  text-align: center;
  line-height: 1em;
  padding: 20px;
  box-sizing: border-box;
}
.box p {
  line-height: 1.6em;
}
.box button {
  font-size: 20px;
  padding: 10px;
  width: 100px;
  background-color: rgb(248, 201, 100);
  border: unset;
}
/* footer */
#main-footer {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 10px 0;
}
.footer-navbar {
  display: flex;
  justify-content: space-between;
}
.footer-navbar li {
  list-style: none;
  text-transform: uppercase;
}
